<!doctype html>
<html lang="en" ng-app="{{cookiecutter.app_name}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{cookiecutter.description}}</title>

    <link rel="stylesheet" type="text/css" href="build/main.css"/>
</head>
<body>
    <div ng-controller="NavCtrl" layout="column" style="height:500px" ng-cloak>
        <md-toolbar ng-cloak>
            <div class="md-toolbar-tools">
                <h2>
                    <span class="md-title"><a href="#/">{{cookiecutter.description}}</a></span>
                </h2>
                <md-button aria-label="Login" ng-if="!nav.userData.email" ng-hide="nav.show_login_button == false" ng-click="go('/login/')" class="md-secondary">
                    Login
                </md-button>
            </div>
        </md-toolbar>
        <div class="view-container">
            <div ng-view class="view-frame"></div>
        </div>
    </div>
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
</body>
</html>
