<style>
    tbody .md-row:hover {
        background-color: #fafafa;
    }
    tbody .md-row:focus {
        outline:none;
    }
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
        cursor: pointer;
    }
</style>
<div class="container-fluid" layout="row" layout-align="center">
    <md-card flex="50" flex-xs="100" flex-sm="75">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">&c&&plural&<span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-table-container>
                <table md-table md-progress="promise">
                    <thead md-head md-order="ordering" md-on-reorder="updateData">
                        <tr md-row>
                            &headers&
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="&l& in data" ng-click="go(&l&.id)">
                            &rows&
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination
                md-limit="query.limit"
                md-page="query.page"
                md-total="{% raw %}{{data.meta.count}}{% endraw %}"
                md-page-select="options.pageSelect"
                md-on-paginate="updateData">
            </md-table-pagination>
        </md-card-content>
    </md-card>
</div>
