<div class="container-fluid"  layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
    <span>Home page!</span>
    <md-card flex="100" flex-gt-xs="45" flex-gt-sm="30" ng-repeat="homeItem in home" class="homeItem" style="padding:0px">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                {% raw %}{{homeItem.title}}{% endraw %}
            </div>
        </md-toolbar>
        <md-card-content>
            {% raw %}{{homeItem.description}}{% endraw %}
            <br/>
            <md-button class="md-primary md-raised" ng-href="{% raw %}{{homeItem.url}}{% endraw %}">
                {% raw %}{{homeItem.button_title}}{% endraw %}
            </md-button>
        </md-card-content>
    </md-card>
</div>
